.callpanel{
    display: flex;
    flex-direction: column;
    font-family: 'Inter' sans-serif;
    width: 100%;
    background-color: #E6E6E6;
    height: max-content;
    padding-bottom: 5vh;
    align-items: center;
}

.callhead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    font-size: 1.3rem;
}

.callhead p{
    font-size: 1rem;
    font-weight: 500;
}

.call_line{
    margin-top: 2vh;
    border: 1px solid var(--www-withsupafast-com-2114444580078125-x-9544444580078125-default-cod-gray, #131313);;
    width: 45vw;
    max-width: 740px;

}

.call_inputs form{
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    width: 45vw;
    max-width: 740px;
    height: max-content;
    align-items: center;
}

.call_inputs input{
    background-color: #FFF;
    border-radius: 8px;
    border: none;
    padding-left: 2vw;
    width: 33vw;
    height: 6vh;
    max-height: 60px;
    z-index: 0;
}

.grades{
    display: flex;
    width: max-content;
    max-width: 740px;
    gap: 2vw;
}

.grades p{
    color: var(--gray-600, #52525B);
    font-size: 0.8rem;
}

.gradecontent{
    text-align: center;
    width: 15vw;
}

.call_inputs input::placeholder{
    position: relative;
    right: 1vw;
}

.call_inputs input:focus{
    border: 1px solid #E6E6E6;
}

.call_inputs button{
    cursor: pointer;
    border: none;
    color: #E6E6E6;
    padding: 0vh 1vw;
    font-size: 0.9rem;
    font-weight: 700;
    max-height: 60px;
    background: rgba(212, 23, 23, 0.75);
    border-radius: 8px;
    height: 6vh;
    z-index: 1;
}

@media screen and (max-width:768px) {
    .callhead{
        width: 80vw;
    }

    .callhead p{
        text-align: center;
        font-size: 0.9rem;
        font-weight: 500;
    }

    .callhead h2{
        margin-top: 4vh;
        margin-bottom: 0vh;
    }

    .call_line{
        width: 80vw;
    }

    .call_inputs form {
        display: flex;
        justify-content: center;
        width: 78vw;
    }

    .call_inputs input{
        font-size: 0.7rem;
        width: 50vw;
        height: 5vh;
        padding-left: 4vw;
        padding-right: 25vw;
        border-radius: 8px;
    }

    .call_inputs button{
        height: 4vh;
        padding: 0vh 2vw;
        font-size: 0.65rem;
        border-radius: 8px;
        position: absolute;
        right: 12.5vw;
    }

    .grades{
        display: none;
    }
}