@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.footer {
  width: 100%;
  height: 501px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: #222;
}
.footer-center {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url("../Images/Footer Resources/circle.png");
  background-position: right;
  background-repeat: no-repeat;
}
.footer-container {
  display: flex;
  align-items: center;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 401px;
  /* background-color: green; */
}
.footer-container-top {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  justify-content: space-between;
  border-bottom: 1px solid #e2e8f0;
}
.top-left,
.top-right {
  /* width: 50%; */
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top-left {
  width: 500px;
}
.top-right {
  width: 250px;
}
.top-left-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 500px;
  height: 100%;
}

.top-left-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 250px;
}
.footer-logo-img{
  width: 22px;
}
.footer-logo {
  height: fit-content;
  width: 190px;
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  justify-content: space;
}
.enfiq-name-footer {
  font-family: "Pavelt";
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  width: 140px;
}
.footer-content {
  font-family: "Inter", sans-serif;
  color: #969696;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  line-height: 26px;
  margin-bottom: 40px;
  margin-top: 50px;
}
.footer-nav {
  display: flex;
  flex-direction: column;
}
.footer-ul {
  padding: 0;
  padding-right: 25px;
  list-style: none;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.footer-li {
  text-align: left;
}
.footer-link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.footer-link:hover{
  color: #d41717;
}
.footer-company {
  color: rgba(161, 161, 161, 0.75);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.top-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.top-right-1 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}
.top-right-2 {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.email-div {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.social-div {
  display: flex;
  justify-content: space-between;
  width: 110px;
  height: fit-content;
}
.mail-us {
  color: #fff;
  font-family: "Inter";
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.email {
  color: #fff;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.email:hover{
  color: #d41717;
}
.footer-container-bottom {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: left;
  align-items: center;
  /* background-color: yellow; */
}
.footer-copyright,
.span-enfiq {
  color: #ababab;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}
.span-enfiq {
  font-weight: 500;
  font-family: "Pavelt";
}
@media screen and (max-width: 1024px) {
  .footer-container {
    width: 90%;
  }
  .top-left {
    width: 450px;
  }
  .top-left-1 {
    width: 400px;
  }
  .top-left-2 {
    width: 200px;
  }
}
@media screen and (max-width: 850px) {
  .enfiq-name-footer {
    font-size: 20px;
  }
  .footer-logo {
    width: 90px;
  }
  .footer-logo img {
    width: 15px;
    height: 30px;
  }
  .footer-content {
    font-size: 14px;
  }
  .footer-company {
    font-size: 14px;
  }
  .footer-ul {
    font-size: 14px;
  }
  .top-left {
    width: 400px;
  }
  .top-left-2 {
    height: 100%;
  }
  .top-left-2 div {
    height: 60%;
  }
  .top-right {
    justify-content: space-evenly;
  }
  .top-right-2,
  .top-right-1 {
    height: 30%;
  }
  .email-div {
    height: 40%;
  }
  .email {
    font-size: 22px;
  }
  .footer-center {
    background-size: contain;
  }
  .enfiq-name-footer{
    font-size: 30px;
  }
  .footer-content{
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .footer-container {
    height: 360px;
  }
  .footer {
    height: 380px;
  }
  .footer-copyright,
  .span-enfiq {
    font-size: 14px;
  }
  .footer-content{
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 650px) {
  .top-left {
    width: 300px;
    justify-content: center;
  }
  .top-left-1 {
    justify-content: center;
    height: fit-content;
    margin-top: 70px;
  }
  .footer-content {
    margin: 0;
    margin-top: 50px;
  }
  .footer-center {
    background-size: 80% 100%;
  }
  .top-right {
    width: 180px;
  }
  .social-div {
    width: 100px;
  }
  .social-icon {
    width: 25px;
  }
  .email {
    font-size: 20px;
  }
  .email-div {
    height: 20%;
  }
  .footer-copyright,
  .span-enfiq {
    font-size: 12px;
  }
  .footer-content{
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 520px) {
  .top-right {
    width: 140px;
  }
  .email {
    font-size: 18px;
  }
  .top-left {
    width: 250px;
  }
  .footer-content {
    font-size: 12px;
  }
  .footer-company {
    font-size: 12px;
  }
  .footer-ul {
    font-size: 12px;
  }
  .email-div {
    height: 50%;
  }
  .top-left-1 {
    margin-top: 60px;
  }
  .footer-content {
    margin-top: 40px;
  }
  .footer-content{
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 426px) {
  .email {
    font-size: 16px;
  }
  .footer-container-top{
    flex-direction: column;
  }
  .top-left {
    width: 100%;
    height: 80%;
  }
  .footer-logo {
    margin-top: 15px;
  }
  .top-right {
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100px;
  }
  .footer {
    height: 350px;
  }
  .top-right-1 {
    width: 100px;
  }
  .social-div {
    width: 90px;
  }
  .social-icon {
    width: 22px;
  }
  .footer-copyright,
  .span-enfiq {
    font-size: 11px;
  }
  .top-left-1 {
    margin-top: 25px;
  }
  .footer-content {
    margin-top: 35px;
    line-height: 20px;
  }
  .enfiq-name-footer{
    font-size: 26px;
  }
  .footer-content{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .footer-container-top{
    height: 100%;
  }
  .footer-container{
    height: 100%;
  }
  .top-right-2{
    height: 100%;
  }
  .top-left-2{
    height: 80%;
  }
  .footer-nav{
    align-items: flex-end;
  }
  .footer-ul{
    margin: 0;
    font-size: 16px;
    padding: 0;
    margin-bottom: 10px;
  }
  .footer-company{
    padding-left: 10px;
    font-size: 16px;
  }
}
@media screen and (max-width: 375px) {
  .footer-content {
    font-size: 14px;
  }
  .top-left {
    /* width: 215px; */
  }
  .footer-company {
    padding-bottom: 14px !important;
  }
  .email {
    font-size: 14px;
  }
  .footer-copyright,
  .span-enfiq {
    font-size: 10px;
  }
  .footer-logo img {
    width: 15px;
    height: 20px;
  }
  .enfiq-name-footer {
    font-size: 18px;
  }
  .footer-logo {
    width: 85px;
  }
  .top-left-1 {
    margin-top: 30px;
  }
  .footer-content {
    margin-top: 40px;
  }
}
@media screen and (max-width: 360px) {
  .mail-us {
    font-size: 12px;
  }
  .email {
    font-size: 12px;
  }
  .top-left {
    height: 70%;
  }
  .top-right {
    height: 80px;

  }
}